@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .recharts-wrapper {
    font-size: 12px;
  }
}

.recharts-tooltip-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  /* padding: 8px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark .recharts-tooltip-wrapper {
  background-color: rgba(31, 41, 55, 0.8);
  color: white;
}
